<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :codigo %>
    <%= form.text_field :codigo %>
  </div>

  <div class="field">
    <%= form.label :azul %>
    <%= form.check_box :azul %>
  </div>

  <div class="field">
    <%= form.label :blanco %>
    <%= form.check_box :blanco %>
  </div>

  <div class="field">
    <%= form.label :nude %>
    <%= form.check_box :nude %>
  </div>

  <div class="field">
    <%= form.label :negro %>
    <%= form.check_box :negro %>
  </div>

  <div class="field">
    <%= form.label :gris %>
    <%= form.check_box :gris %>
  </div>

  <div class="field">
    <%= form.label :verde %>
    <%= form.check_box :verde %>
  </div>

  <div class="field">
    <%= form.label :S %>
    <%= form.check_box :S %>
  </div>

  <div class="field">
    <%= form.label :M %>
    <%= form.check_box :M %>
  </div>

  <div class="field">
    <%= form.label :L %>
    <%= form.check_box :L %>
  </div>

  <div class="field">
    <%= form.label :XL %>
    <%= form.check_box :XL %>
  </div>

  <div class="field">
    <%= form.label :sexo %>
    <%= form.text_field :sexo %>
  </div>

  <div class="field">
    <%= form.label :precio %>
    <%= form.number_field :precio %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_area :descripcion %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
