<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Codigo:</strong>
  <%= @product.codigo %>
</p>

<p>
  <strong>Azul:</strong>
  <%= @product.azul %>
</p>

<p>
  <strong>Blanco:</strong>
  <%= @product.blanco %>
</p>

<p>
  <strong>Nude:</strong>
  <%= @product.nude %>
</p>

<p>
  <strong>Negro:</strong>
  <%= @product.negro %>
</p>

<p>
  <strong>Gris:</strong>
  <%= @product.gris %>
</p>

<p>
  <strong>Verde:</strong>
  <%= @product.verde %>
</p>

<p>
  <strong>S:</strong>
  <%= @product.S %>
</p>

<p>
  <strong>M:</strong>
  <%= @product.M %>
</p>

<p>
  <strong>L:</strong>
  <%= @product.L %>
</p>

<p>
  <strong>Xl:</strong>
  <%= @product.XL %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @product.sexo %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @product.precio %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @product.descripcion %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
